:root{

	

	--borderColor:#ec11e1;

	--mainText:rgb(255, 255, 255);
	--secondaryText:#fefeff;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;


	--buttonColor:black;


}


html, body{
	padding: 1px;
	margin: 0px;
	scroll-behavior: smooth;
}

body *{
	transition: 0.3s;
}


h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}

a{
	text-decoration: none;
	color:#17a2b8;
}

ul{
	list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


.s2{
	
	background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);


	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}










#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	padding-left: 10px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;

}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}


.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}


#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	color: #fff;
	background-color: var(--buttonColor);
	border:none;
}
#submit-btn:hover{
  background-color: #d14444 ;
  cursor: pointer;
}


@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}
}

@media screen and (max-width: 800px){
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
	}

	.right-column{
		justify-content: center;
	}

}

@media screen and (max-width: 400px){
	#preview-shadow{
		max-width: 280px;
		height: 180px;
		padding-left: 10px;
		padding-top: 10px;
	}

	#preview{
		width: 280px;

	}

}
.social_logos{
	display: flex;
	height: 18vh;
	justify-content: center;
	background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);


	align-items: center;
	gap: 3.5rem;
}



